div.header {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

div.header img{
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-left: 10px;
}

div.footer{
  position: fixed;
    bottom: 0;
    right: 0;
    width: 2000px;
    font-size: 11px;
}

body {
  background-color: #FFFFFF;
}

h1,h2,h3,h4,h5,h6,p,pre{
  /*Text Color may need to be Darker*/
  color: #021733;
}
