div.header {
  text-align: center;
  color: Black;
  font-family: 'Orbitron', sans-serif;
}

div.header img{
  position: fixed;
    bottom: 0;
    right: 0;
    width: 2000px;
}

div.footer{
  position: fixed;
    bottom: 0;
    right: 0;
    width: 2000px;
    font-size: 11px;
}
